@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lexend+Deca:wght@200&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --mainBackground: hsl(233, 47%, 7%);
  --cardBackground: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --mainHeading: hsl(0, 0%, 100%);
  --stats: hsl(0, 0%, 100%);
  --mainParagraph: hsla(0, 0%, 100%, 0.75);
  --statHeadings: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--mainBackground);
}

main {
  width: 1110px;
  height: 447px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cardBackground);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}

#imageSection {
  position: relative;
}

#imageHeader {
  filter: contrast(0.7);
}

#imageHeaderOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: hsla(283, 74%, 53%, 0.63);
  mix-blend-mode: multiply;
}

#textSection {
  padding: 72px;
}

h1 {
  color: var(--mainHeading);
  font-size: 2.3rem;
  letter-spacing: 0.75px;
  line-height: 2.9rem;
  margin-bottom: 27px;
}

p {
  color: var(--mainParagraph);
  line-height: 1.65rem;
  margin-bottom: 72px;
  margin-right: 50px;
  font-weight: 200;
  letter-spacing: 0.2px;
}

#statsRow {
  display: flex;
  justify-content: space-between;
  padding-right: 74px;
}

.top {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--stats);
  margin-bottom: 5px;
}

.bottom {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  color: var(--statHeadings);
  font-size: 0.85rem;
  letter-spacing: 0.9px;
}

#accentWord {
  color: var(--accent);
}

@media only screen and (max-width: 1440px) {
  main {
    transform: translate(-50%, 0%);
    top: 50px;
    flex-direction: column;
    width: 327px;
    height: 780px;
  }

  #textSection {
    order: 2;
  }

  #imageSection {
    order: 1;
    height: 240px;
  }

  #imageHeader {
    width: 100%;
    content: url("images/image-header-mobile.jpg");
  }

  #textSection {
    padding: 40px 30px 30px 30px;
  }

  p {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 1.75rem;
    letter-spacing: 0.8px;
    text-align: center;
    line-height: 2.15rem;
    margin-bottom: 18px;
  }

  #statsRow {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .statsColumn {
    text-align: center;
    margin-bottom: 30px;
  }
}
